.container{
    margin: 20px;
    background-color: yellow;
    height: 300px;
    width: 300px;
    border-radius: 150px;
}
.eye-con{
    /* background-color: black; */
    height: 50px;
    width: 70%;
    transform: translateY(80px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.eye1{
    background-color: rgb(37, 37, 196);
    height: 35px;
    width: 35px;
    border-radius: 25px;
}
.b1{
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    transform: translatex(-3px);
}
.w1{
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    transform: translatey(7px);

    
}
.eye2{
    background-color: rgb(37, 37, 196);
    height: 35px;
    width: 35px;
    border-radius: 25px;
}
.b2{
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    transform: translatex(-3px);
}
.w2{
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    transform: translatey(7px);

    
}
.blush{
    /* background-color: red; */
    height: 50px;
    width: 250px;
    transform:translateY(100px) ;
    display: flex;
    justify-content: space-between;
}
.bl1{
    background-color: pink;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    filter: blur(10px);
    
}
.bl2{
    background-color: pink;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    filter: blur(10px);
}
.nose{
    background-color: black;
    height: 35px;
    width: 15px;
    border-radius:50%;
    transform: translateY(50px);
}
.mouth{
    background-color: red;
    height:60px ;
    width: 120px;
    transform: translateY(74px);
    border-radius: 10px 10px 60px 60px;
    overflow: hidden;
}
.tongue{
    background-color: rgb(251, 191, 201);
    height: 40px;
    width: 60px;
    transform: translateY(40px);
    opacity: 0.8;
    border-radius: 25px 25px 20% 20%;

}
